.first-title {
    margin-left: 2px;
    padding: 3px;
    font-size: 32px;
    font-family: sans-serif;
    line-height: 7px;
    margin-bottom: 0;
    text-align: left;
}

.first-sub-title {
    margin-left: 6px;
    margin-bottom: 0;
    color: #606770;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 27px;
    font-weight: normal;
    text-align: left;
}

form {
    width: 450px;
    height: 561px;
    margin-left: 35%;
    margin-top: 5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
    background: white;
    border-radius: 8px;
}

#all {
    margin-left: 9px;
    background-color: #f0f0f0;
    border-color: red;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
}

#all1 {
    margin: 9px;
    width: 406px;
    background-color: #f0f0f0;
    border-color: red;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
}

.sub-title-2 {
    font-size: 16px;
    margin: 4px;
    margin-left: 9px;
}

select {
    margin-left: 8px;
    width: 137px;
    font-size: 20px;
    border-radius: 4px;
}

.sub-title-3 {
    font-size: 16px;
    margin: 11px;
    margin-left: 9px;
}

#all-gender {
    font-size: 20px;
    margin: 2px;
    margin-left: 11px;
}

.sub-title-4{
    font-size: 16px;
    margin-left: 10px;
}

.submit {
    padding: 3px;
    margin-left: 56px;
    width: 164px;
    font-size: 25px;
    background-color: #00ab41;
    color: white;
    border-radius: 4px;
}

.nnn {
    border: 2px solid black;
    font-family: sans-serif;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 3px;
    width: 164px;
    font-size: 25px;
    background-color: #00ab41;
    color: white;
    border-radius: 4px;
}

.new1 {
    padding: 3px;
    margin: 48px;
    margin-left: 1px;
    width: 164px;
    font-size: 25px;
    background-color: #00ab41;
    color: white;
    border-radius: 4px;
}

.input {
    font-size: 30px;
    line-height: 30px;
}

@media (max-width:950px){
	body{
       font-size: 14px;

	}
	form{
		padding: 10px;
	}
}
   










